.title {
  font-weight: bolder;
}

.date {
  font-size: 10px;
}

.img :hover {
  box-shadow: 1px 5px 30px -6px #198501;
}

.content {
  font-family: "Lexend Zetta";
  text-align: center;
}

@media only screen and (max-width: 1700px) {
  .title {
    font-size: 30px;
  }
  .date {
    font-size: 13px;
  }
  .content {
    font-size: 20px;
  }
  .container {
    width: 70%;
    box-shadow: "1px 1px 5px 1px #ffe4fa";
  }
}

@media only screen and (max-width: 420px) {
  .title {
    font-size: 15px;
  }
  .date {
    font-size: 10px;
  }
  .content {
    font-size: 10px;
  }
  .container {
    width: 100%;
    box-shadow: "1px 1px 5px 1px #ffe4fa";
  }
}
